<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8' />
    <link href='/library-calendar/fullcalendar.min.css' rel='stylesheet' />
    <link href='/library-calendar/fullcalendar.print.min.css' rel='stylesheet' media='print' />

    <style>

        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
            font-size: 14px;
        }
        #calendar {
            max-width: 900px;
            margin: 0 auto;
        }

    </style>
</head>
    <body>
        <div id='calendar'></div>


    <script
        src="https://code.jquery.com/jquery-3.1.1.min.js"
        integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
        crossorigin="anonymous">
    </script>



        <script src='/library-calendar/moment.min.js'></script>
        <script src='/library-calendar/jquery.min.js'></script>
        <script src='/library-calendar/fullcalendar.min.js'></script>
        <script src='/library-calendar/gcal.js'></script>

        <!--<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>-->
        <script async="async" defer="defer" src="https://apis.google.com/js/api.js"
                onreadystatechange="if (this.readyState === 'complete') this.onload()">
        </script>




<!--div that contain the google  sign in and sign out -->
        <div class="container">
            <div class="row">
                <div class="col l8 offset-l2">

                    <p>Google Calendar API Quickstart</p>

                    <!--Add buttons to initiate auth sequence and sign out-->
                    <button id="authorize-button" style="display: none;">Authorize</button>
                    <button id="signout-button" style="display: none;">Sign Out</button>

                    <pre id="content"></pre>

                </div>
            </div>
        </div>
        <script src="/JS/fullplate.js"></script>
</body>
</html>