<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(title=${'Calendar'})">
    <link href='/library-calendar/fullcalendar.min.css' rel='stylesheet'/>
    <link href='/library-calendar/fullcalendar.print.min.css' rel='stylesheet' media='print'/>
    <style>
        body {
            margin: 40px 10px;
            padding: 0;
            font-family: "Lucida Grande", Helvetica, Arial, Verdana, sans-serif;
            font-size: 14px;
        }

    </style>
</head>
<body>
    <div th:replace="fragments/navbar :: navbar">...</div>

    <div id='calendar'></div>

<!--div that contain the google  sign in and sign out -->
    <div class="container">
        <div class="row">
            <div class="col l8 offset-l2">
                <p>Merge your Google Calendar for added meal planning functionality.</p>
            <!--Add buttons to initiate auth sequence and sign out-->
                <button id="authorize-button" class="btn waves-effect waves-light" style="display: none;">AUTHORIZE</button>
                <button id="signout-button" class="btn waves-effect waves-light" style="display: none;">SIGN OUT</button>
                <pre id="content"></pre>
             </div>
        </div>
    </div>

    <script
            src="https://code.jquery.com/jquery-3.1.1.min.js"
            integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
            crossorigin="anonymous">
    </script>
    <script src='/library-calendar/moment.min.js'></script>
    <script src='/library-calendar/jquery.min.js'></script>
    <script src='/library-calendar/fullcalendar.min.js'></script>
    <script src='/library-calendar/gcal.js'></script>
    <!--<script type="text/javascript" src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>-->
    <script async="async" defer="defer" src="https://apis.google.com/js/api.js"
            onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
    <script src="/JS/events.js"></script>
</body>
</html>