<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href='/library-calendar/jquery-ui.min.css' rel='stylesheet' />
    <link href='/library-calendar/fullcalendar.min.css' rel='stylesheet'/>
    <link href='/library-calendar/fullcalendar.print.min.css' rel='stylesheet' media='print'/>
    <div th:replace="fragments/header :: head(title=${'Calendar'})" ></div>
</head>
<body>
<ul th:replace="fragments/navbar :: navbar">...</ul>
<div>
    <div id='calendar'></div>
</div>
<!--div that contain the google  sign in and sign out -->
<div class="container">
    <div class="row">
        <div class="col s4 offset-s4">
            <p>Merge your Google Calendar</p>
            <!--Add buttons to initiate auth sequence and sign out-->
            <button id="authorize-button" class="btn waves-effect waves-light" style="display: none;">AUTHORIZE</button>
            <button id="signout-button" class="btn waves-effect waves-light" style="display: none;">SIGN OUT</button>
            <pre id="content"></pre>
        </div>
    </div>
</div>


<div th:replace="fragments/footer :: footer">...</div>
<script src='/library-calendar/moment.min.js'></script>
<script src='/library-calendar/fullcalendar.min.js'></script>
<script src='/library-calendar/gcal.js'></script>

<script async="async" defer="defer" src="https://apis.google.com/js/api.js"
        onreadystatechange="if (this.readyState === 'complete') this.onload()">
</script>
<script src="/JS/events.js"></script>
</body>
</html>