<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Create Recipe</title>
    <link rel="stylesheet" href="/CSS/ingredients[].css"/>
</head>
<body>

<h1>Create a recipe</h1>

<form th:action="@{/create}" th:method="post" th:object="${recipe}" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input th:field="*{title}" id="title"/>
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>

    <label for="instruction">Instructions</label>
    <textarea th:field="*{instruction}" id="instruction"></textarea>
    <p th:if="${#fields.hasErrors('instruction')}" th:errors="*{instruction}"/>

    <label for="prep_time">Prep time</label>
    <input th:field="*{prep_time}" id="prep_time"/>
    <p th:if="${#fields.hasErrors('prep_time')}" th:errors="*{prep_time}"/>

    <label for="cook_time">Cook Time</label>
    <input th:field="*{cook_time}" id="cook_time"/>
    <p th:if="${#fields.hasErrors('cook_time')}" th:errors="*{cook_time}"/>

    <label for="myDate">Recipe Date</label>
    <input type="date" id="myDate" value="yyyy-mm-dd"/>

    <label for="season">Season</label>
    <select th:field="*{season}" id="season">
        <option value="winter_fall">Winter/Fall</option>
        <option value="spring_summer">Spring/Summer</option>
    </select>
    <p th:if="${#fields.hasErrors('season')}" th:errors="*{season}"/>

    <div>
        <label for="image_file">Upload a file!</label>
        <input id="image_file" name="image_file" type="file"/>
    </div>
    <hr/>

    <h2>Select ingredients[]</h2>

    <div th:class="wrapper">
        <div class="flipbox">
            <div class="front  bg_meat"><h3 id="front-meat">Meat</h3></div>
            <div class="back" id="red">
                <input id="Pepperoni" name="ingredients[]" type="checkbox" value="Pepperoni" />
                <label for="Pepperoni">Pepperoni</label><br/>
                <input id="sausage" name="ingredients[]" type="checkbox" value="sausage"/>
                <label for="sausage">Sausage</label><br/>
                <input id="ham" name="ingredients[]" type="checkbox" value="ham"/>
                <label for="ham">Ham</label><br/>
                <input id="chicken" name="ingredients[]" type="checkbox" value="chicken"/>
                <label for="chicken">Chicken</label><br/>
                <input id="bacon" name="ingredients[]" type="checkbox" value="bacon"/>
                <label for="bacon">Bacon</label><br/>
                <input id="beef" name="ingredients[]" type="checkbox" value="beef"/>
                <label for="beef">Beef</label>
            </div>
        </div>

        <div class="flipbox">
            <div class="front  bg_produce"><h3 id="front-produce">Produce</h3></div>
            <div class="back" id="produce">
                <input id="mushrooms" name="ingredients[]" type="checkbox" value="mushrooms"/>
                <label for="mushrooms">Mushrooms</label><br/>
                <input id="onions" name="ingredients[]" type="checkbox" value="onions"/>
                <label for="onions">Onions</label><br/>
                <input id="cherry_Peppers" name="ingredients[]" type="checkbox" value="cherry_Peppers"/>
                <label for="cherry_Peppers">Cherry_Peppers</label><br/>
                <input id="olives" name="ingredients[]" type="checkbox" value="olives"/>
                <label for="olives">Olives</label><br/>
                <input id="green_peppers" name="ingredients[]" type="checkbox" value="green_peppers"/>
                <label for="green_peppers">Green Peppers</label><br/>
                <input id="jalapeno" name="ingredients[]" type="checkbox" value="jalapeno"/>
                <label for="jalapeno">Jalapeno</label>
            </div>
        </div>

        <div class="flipbox">
            <div class="front  bg_spices"><h3 id="front-spices">Spices</h3></div>
            <div class="back" id="spices">
                <input id="ground_cumin" name="ingredients[]" type="checkbox" value="ground_cumin"/>
                <label for="ground_cumin">Ground Cumin</label><br/>
                <input id="basil" name="ingredients[]" type="checkbox" value="basil"/>
                <label for="basil">Basil</label><br/>
                <input id="black_paper" name="ingredients[]" type="checkbox" value="black_paper"/>
                <label for="black_paper">Black Pepper</label><br/>
                <input id="salt" name="ingredients[]" type="checkbox" value="salt"/>
                <label for="salt">Salt</label><br/>
                <input id="paprika" name="ingredients[]" type="checkbox" value="paprika"/>
                <label for="paprika">Paprika</label><br/>
                <input id="thyme" name="ingredients[]" type="checkbox" value="thyme"/>
                <label for="thyme">Thyme</label>
            </div>
        </div>

        <div class="flipbox">
            <div class="front  bg_dairy"><h3 id="front-dairy">Dairy</h3></div>
            <div class="back" id="dairy">
                <input id="cheeses" name="ingredients[]" type="checkbox" value="cheeses"/>
                <label for="cheeses">Cheeses</label><br/>
                <input id="milk" name="ingredients[]" type="checkbox" value="milk"/>
                <label for="milk">Milk</label><br/>
                <input id="butter" name="ingredients[]" type="checkbox" value="butter"/>
                <label for="butter">Butter</label><br/>
                <input id="yogurt" name="ingredients[]" type="checkbox" value="yogurt"/>
                <label for="yogurt">Yogurt</label><br/>
                <input id="cream_cheese" name="ingredients[]" type="checkbox" value="cream_cheese"/>
                <label for="cream_cheese">Cream Cheese</label><br/>
                <input id="eggs" name="ingredients[]" type="checkbox" value="eggs"/>
                <label for="eggs">eggs</label>
            </div>
        </div>
    </div>
    <br />
    <hr />
    <h2>New ingredients[] </h2>

    <label for="new_ingredient">Ingredient</label>
    <input type="text" id="new_ingredient"/>

    <label for="quantity">Quantity</label>
    <input type="text" id="quantity"/><br />

    <input type="submit" value="Create"/>
    <input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>
</form>

</body>
</html>