<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(title=${'Something New'})">
    ...
</head>
<body class="background">
<div th:replace="fragments/navbar :: top-nav">...</div>
<div class="container">
    <h3>Add a Recipe</h3>

    <form class="create-form z-depth-5" th:action="@{/create}" th:method="post" th:object="${recipe}"
          enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s9">
                <label for="title">Title</label>
                <input th:field="*{title}" id="title" name="title" type="text"/>
                <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"/>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3">
                <label for="prep_time">Prep Time (in minutes)</label>
                <input th:field="*{prep_time}" id="prep_time" name="prep_time" type="number"/>
                <p th:if="${#fields.hasErrors('prep_time')}" th:errors="*{prep_time}"/>
            </div>
            <div class="input-field col s3">
                <label for="cook_time">Cook Time (in minutes)</label>
                <input th:field="*{cook_time}" id="cook_time" name="cook_time" type="number"/>
                <p th:if="${#fields.hasErrors('cook_time')}" th:errors="*{cook_time}"/>
            </div>
            <div class="input-field col s3">
                <select th:field="*{season}" id="season" name="season">
                    <option value="" class="disabled">Choose a Season</option>
                    <option value="winter fall">Winter/Fall</option>
                    <option value="spring summer">Spring/Summer</option>
                </select>
                <p th:if="${#fields.hasErrors('season')}" th:errors="${recipes.season}"/>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s5">
                <label for="instruction">Instructions</label>
                <textarea th:field="*{instruction}" id="instruction" name="instruction" type="text"></textarea>
                <p th:if="${#fields.hasErrors('instruction')}" th:errors="*{instruction}"/>
            </div>

            <div>
                <label for="image_file">Upload a file!</label>
                <input class="btn waves-effect waves-light" id="image_file" name="image_file" type="file" value="CHOOSE A FILE"/>
            </div>
        </div>

        <h4>Select Ingredients</h4>

        <div th:class="wrapper">
            <!--<div class="flipbox">-->
                <div class="front  bg_meat"><h3 id="front-meat">Meat</h3></div>
                <div class="back" id="red">
                    <div class="col s2">
                    <input id="sausage" name="ingredients[]" type="checkbox" value="sausage"/>
                    <label for="sausage">Sausage</label>
                    </div>
                    <div class="input-field col s1">
                    <label>qty</label>
                    <input name="qnty[]" type="text" value=""/>
                    </div>

                    <input id="ham" name="ingredients[]" type="checkbox" value="ham"/>
                    <label for="ham">Ham</label>
                    <input name="qnty[]" type="text" value=""/>

                    <input id="beef" name="ingredients[]" type="checkbox" value="beef"/>
                    <label for="beef">Beef</label>
                    <input name="qnty[]" type="text" value=""/>

                    <input id="chicken" name="ingredients[]" type="checkbox" value="chicken"/>
                    <label for="chicken">Chicken</label>
                    <input name="qnty[]" type="text" value=""/>

                    <input id="ground_beef" name="ingredients[]" type="checkbox" value="ground_beef"/>
                    <label for="ground_beef">Ground beef</label>
                    <input name="qnty[]" type="text" value=""/>
                <!--</div>-->
            </div>

            <div class="flipbox">
                <div class="front  bg_produce"><h3 id="front-produce">Produce</h3></div>
                <div class="back" id="produce">
                    <input id="onions" name="ingredients[]" type="checkbox" value="onions"/>
                    <label for="onions">Onions</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="tomatoes" name="ingredients[]" type="checkbox" value="tomatoes"/>
                    <label for="tomatoes">Tomatoes</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="zucchini" name="ingredients[]" type="checkbox" value="zucchini"/>
                    <label for="zucchini">Zucchini</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="celery" name="ingredients[]" type="checkbox" value="celery"/>
                    <label for="celery">Celery</label>
                    <input name="qnty[]" type="text" value=""/><br/>
                </div>
            </div>

            <div class="flipbox">
                <div class="front  bg_spices"><h3 id="front-spices">Seasonings</h3></div>
                <div class="back" id="spices">
                    <input id="paper" name="ingredients[]" type="checkbox" value="paper"/>
                    <label for="paper">Pepper</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="salt" name="ingredients[]" type="checkbox" value="salt"/>
                    <label for="salt">Salt</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="paprika" name="ingredients[]" type="checkbox" value="paprika"/>
                    <label for="paprika">Paprika</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="garlic" name="ingredients[]" type="checkbox" value="garlic"/>
                    <label for="garlic">Garlic</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="turmeric" name="ingredients[]" type="checkbox" value="turmeric"/>
                    <label for="turmeric">Turmeric</label>
                    <input name="qnty[]" type="text" value=""/><br/>
                </div>
            </div>

            <div class="flipbox">
                <div class="front  bg_dairy"><h3 id="front-dairy">Dairy</h3></div>
                <div class="back" id="dairy">
                    <input id="shredded_cheddar" name="ingredients[]" type="checkbox" value="shredded cheddar"/>
                    <label for="shredded_cheddar">Shredded cheddar</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="milk" name="ingredients[]" type="checkbox" value="milk"/>
                    <label for="milk">Milk</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="butter" name="ingredients[]" type="checkbox" value="butter"/>
                    <label for="butter">Butter</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="eggs" name="ingredients[]" type="checkbox" value="eggs"/>
                    <label for="eggs">eggs</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="heavy_cream" name="ingredients[]" type="checkbox" value="heavy cream"/>
                    <label for="heavy_cream">heavy cream</label>
                    <input name="qnty[]" type="text" value=""/><br/>
                </div>
            </div>

            <div class="flipbox">
                <div class="front  bg_frozen"><h3 id="front-frozen">Frozen</h3></div>
                <div class="back" id="frozen">
                    <input id="ravioli" name="ingredients[]" type="checkbox" value="ravioli"/>
                    <label for="ravioli">Ravioli</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="pizza" name="ingredients[]" type="checkbox" value="pizza"/>
                    <label for="pizza">Pizza</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="hashbrowns" name="ingredients[]" type="checkbox" value="hashbrowns"/>
                    <label for="hashbrowns">Hashbrowns</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="mixed_vegetables" name="ingredients[]" type="checkbox" value="mixed vegetables"/>
                    <label for="mixed_vegetables">Mixed vegetables</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="french_fries" name="ingredients[]" type="checkbox" value="french fries"/>
                    <label for="french_fries">French fries</label>
                    <input name="qnty[]" type="text" value=""/><br/>
                </div>
            </div>

            <div class="flipbox">
                <div class="front  bg_dry"><h3 id="front-dry">Dry Goods</h3></div>
                <div class="back" id="dry">
                    <input id="flour" name="ingredients[]" type="checkbox" value="flour"/>
                    <label for="flour">Flour</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="sugar" name="ingredients[]" type="checkbox" value="sugar"/>
                    <label for="sugar">Sugar</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="olive_oil" name="ingredients[]" type="checkbox" value="olive oil"/>
                    <label for="olive_oil">Olive oil</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="vegetable_oil" name="ingredients[]" type="checkbox" value="vegetable oil"/>
                    <label for="vegetable_oil">Vegetable oil</label>
                    <input name="qnty[]" type="text" value=""/><br/>

                    <input id="spaghetti" name="ingredients[]" type="checkbox" value="spaghetti"/>
                    <label for="spaghetti">Spaghetti</label>
                    <input name="qnty[]" type="text" value=""/><br/>
                </div>
            </div>

        </div>

        <h4>Add An Ingredient</h4>

        <div class="row">
            <div class="input-field col s3">
                <label for="new_ingredient">Ingredient</label>
                <input type="text" name="new_ingredient" id="new_ingredient"/>
            </div>
            <div class="input-field col s3">
                <select name="selectedCategory" id="categories">
                    <option value="" class="disabled">Choose a Category</option>
                    <option value="produce">Produce</option>
                    <option value="meats">Meats</option>
                    <option value="seasonings">Seasonings</option>
                    <option value="dry goods">Dry Goods</option>
                    <option value="dairy">Dairy</option>
                    <option value="frozens">Frozens</option>
                    <option value="condiments">Condiments</option>
                </select>
            </div>
            <div class="input-field col s3">
                <label for="quantity">Quantity</label>
                <input type="text" name="quantity" id="quantity"/><br/>
            </div>
        </div>

        <input class="btn waves-effect waves-light" type="submit" value="CREATE"/>
        <!--<input type="hidden" th:attr="name=${_csrf.parameterName},value=${_csrf.token}"/>-->
    </form>
</div>
<div th:replace="fragments/footer :: footer">...</div>
<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
</body>
</html>