<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(title=${'Recipe Box'})">
    ...
</head>
<body>
<div th:replace="fragments/navbar :: top-nav">...</div>
<div>
    <h1>Recipe Box</h1>
    <div class="row">
        <div class="flex col s12 m12 l12">
            <div class="card col l3" th:each="recipe : ${recipes}">
                <div class="card-image">
                    <img th:src="${'/recipe_img/' + recipe.image}"/>
                </div>
                <div class="card-content">
                    <h5><span th:text="${recipe.title}"></span></h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>

