<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(title=${'Recipe Box'})">
    ...
</head>
<body>
<div th:replace="fragments/navbar :: top-nav">...</div>
<div class="container">
    <h1>Recipe Box</h1>
    <div class="row">
        <div class="col s12 m12 l12">
            <div class="card col s12 m6 l4 hoverable" th:each="recipe : ${recipes}">
                <div class="card-image custom-img" th:style="'background-image: url(/uploads/' + ${recipe.image} + ')'">
                    <!--<img class="responsive-img custom-img" th:src="${'/uploads/' + recipe.image}"/>-->
                </div>
                <div class="card-content">
                    <h5 class="truncate" th:text="${recipe.title}"></h5>
                </div>
                <div class="card-action">
                    <a th:href="@{/single/{id}(id=${recipe.id})}">View This Recipe</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>

