<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(title=${'Shopping List'})">
    ...
</head>
<body>
    <div th:replace="fragments/navbar :: top-nav">...</div>
    <div  class="list z-depth-5">
        <h2 class="list-header">shopping list</h2>
        <div>
            <p th:each="ingredient : ${ingredientList}" ><span class="strikethrough" th:text="${ingredient.ingredient}"></span></p>
        </div>
        <br class="clear" />
    </div>
    <div th:replace="fragments/footer :: footer">...</div>
</body>
</html>