<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(title=${'Recipe'})">
    ...
</head>
<body>
    <div th:replace="fragments/navbar :: top-nav">...</div>
    <div class="container top-down">
        <h1>Single Recipe View</h1>
        <div>
            <img class="responsive-img" th:src="${'/uploads/' + recipe.image}"/>
            <h5 th:text="${recipe.title}"></h5>
            <ul th:each="ingredients  : ${recipe.ingredientLists}">
                <li th:text="${ingredients.ingredient.ingredient}"></li>
            </ul>
            <p>Prep Time: <span th:text="${recipe.prep_time}"></span> minutes     Cook Time: <span th:text="${recipe.cook_time}"></span> minutes</p>
            <p th:text="${recipe.instruction}"></p>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">...</div>
</body>
</html>