<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
<div th:fragment="register_form(user)" class="form-group">
    <form th:method="POST" th:action="@{'/users/create'}"><!--th:object="${user}"-->
        <label>First Name</label>
        <input class="form-control" type="text" name="first-name" /> <!--th:field="*{first_name}"-->
        <label>Last Name</label>
        <input class="form-control" type="text" name="last-name" /><!--th:field="*{last_name}"-->
        <label>Username</label>
        <input class="form-control" type="text" name="username" /><!-- th:field="*{username}"-->
        <!--<p th:if="${#fields.hasErrors('username')}" th:errors="*{username}" />-->
        <label>Email</label>
        <input class="form-control" type="email" name="email" /><!--th:field="*{email}" -->
        <!--<p th:if="${#fields.hasErrors('email')}" th:errors="*{email}" />-->
        <label>Phone Number</label>
        <input class="form-control" type="text" name="phone-number" /><!--th:field="*{phone_number}" -->
        <label>Password</label>
        <input class="form-control" type="password" name="password" /><!--th:field="*{password}" -->
        <!--<p th:if="${#fields.hasErrors('password')}" th:errors="*{password}" />-->
        <label for="password_confirm">Confirm Your Password</label>
        <input class="form-control" type="password" name="password_confirm" id="password_confirm" />
        <input class="btn btn-info" type="submit" value="Register"/>
    </form>
</div>
</body>
</html>