<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
<ul th:fragment="navbar" class="side-nav">
    <li><div class="userView">
        <div class="background">
            <img src="../../img/profile-test2.jpg" />
        </div>
        <a href="#"><img class="circle" src="../../img/profile-test.jpg" /></a>
        <a href="#"><span class="white-text name">Busy Mom</span></a>
        <a href="#"><span class="white-text email">someemail@email.com</span></a>
    </div></li>
    <li><a href="#/users/dashboard"><i class="material-icons">cloud</i>Dashboard</a></li>
    <li><a href="#/calendar/signGoogle">Calendar</a></li>
    <li><div class="divider"></div></li>
    <li><a class="subheader">Recipes</a></li>
    <li><a class="waves-effect" href="#/recipes/recipes">View All</a></li>
    <li><a class="waves-effect" href="#/recipes/create">Create New</a></li>
    <li><a class="waves-effect" href="#/recipes/recipes">Shopping List</a></li>
</ul>
</body>
</html>