<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    ...
</head>
<body>
<div th:fragment="navbar">
    <ul class="side-nav fixed">
        <li>
            <div class="userView">
                <div class="background">
                    <img src="../../img/profile-test2.jpg"/>
                </div>
                <a href="#"><img class="circle" src="../../img/profile-test.jpg"/></a>
                <a href="#"><span class="white-text name">Busy Mom</span></a>
                <a href="#"><span class="white-text email">someemail@email.com</span></a>
            </div>
        </li>
        <li>
            <a href="/users/dashboard.html"><i class="material-icons">cloud</i>Dashboard</a>
        </li>
        <li>
            <a href="/">Calendar</a>
        </li>
        <li>
            <div class="divider"></div>
        </li>
        <li>
            <a class="subheader">Recipes</a>
        </li>
        <li>
            <a class="waves-effect" href="/recipes/view-all">View All</a>
        </li>
        <li>
            <a class="waves-effect" href="/create">Create New</a>
        </li>
        <li>
            <a class="waves-effect" href="/recipes/shopping-list">Shopping List</a>
        </li>
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="material-icons">menu</i></a>
</div>
</body>
</html>