<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(title=${'Home'})">
    ...
</head>
<body>
    <ul th:replace="fragments/navbar :: navbar">...</ul>
    <div id="image-block">
        <h1>This Week's Menu</h1>
        <ul class="collapsible" data-collapsible="accordion">
            <li th:each="userRecipe  : ${recipes}">
                <div class="collapsible-header light-green white-text" th:text="${userRecipe.recipe.title}"></div>
                <div class="collapsible-body">
                    <div class="image-target" th:style="'background-image: url(/recipe_img/' + ${userRecipe.recipe.image} + ')'"></div>
                    <ul th:each="ingredients  : ${userRecipe.recipe.ingredientLists}">
                        <li th:text="${ingredients.ingredient.ingredient}"></li>
                    </ul>
                    <p>Prep Time: <span th:text="${userRecipe.recipe.prep_time}"></span> minutes     Cook Time: <span th:text="${userRecipe.recipe.cook_time}"></span> minutes</p>
                    <p th:text="${userRecipe.recipe.instruction}"></p>
                </div>
            </li>
        </ul>
    </div>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>


