<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(title=${'Home'})">
    ...
</head>
<body>

<ul th:replace="fragments/navbar :: navbar">...</ul>

<div class="container dashboard">

    <div class="row">

        <div class="col s12 m12 l12" th:if="${!recipes.isEmpty()}" id="image-block">
            <h1>This Week's Menu</h1>
            <ul class="collapsible" data-collapsible="accordion">
                <li th:each="userRecipe  : ${recipes}">
                    <div class="collapsible-header light-green white-text" th:text="${userRecipe.recipe.title}"></div>
                    <div class="collapsible-body">
                        <div class="image-target" th:style="'background-image: url(/uploads/' + ${userRecipe.recipe.image} + ')'"></div>
                        <ul th:each="ingredients  : ${userRecipe.recipe.ingredientLists}">
                            <li th:text="${ingredients.ingredient.ingredient}"></li>
                        </ul>
                        <p>Prep Time: <span th:text="${userRecipe.recipe.prep_time}"></span> minutes     Cook Time: <span th:text="${userRecipe.recipe.cook_time}"></span> minutes</p>
                        <p th:text="${userRecipe.recipe.instruction}"></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="row" th:if="${recipes.isEmpty()}">
        <div id="new-user" class="z-depth-5 col s12 m12 l12">
            <h1>Welcome</h1>
            <p>
                It doesn't look like you've configured your calendar yet. You need to do a couple of steps before
                you can use all of Full Plate's features.
            </p>
            <ul>
                <li>Click "Calendar" on the navigation bar to your left.</li>
                <li>Click "Authorize" and sign into your Google account.</li>
                <li>Click "Generate Recipes" on the navigation bar to your left.</li>
            </ul>
            <p>You will see the calendar fill with pre-generated recipes, and you no longer have to worry about, "What's for dinner?"!</p>
        </div>
    </div>

</div>


<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>



