/*welcome page*/
video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url("../img/static-food.jpg") no-repeat;
    background-size: cover;
}
@media screen and (max-device-width: 800px) {
    html {
        background: url("../img/static-food.jpg") #fff no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}

.overlay:before{
    position: absolute;
    content: "";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba(99, 99, 99, 0.77);
}

.overlay > img {
    /*color: white;*/
    z-index:1;
    text-align: center;
    /*font-size: 5em;*/
    position: absolute;
    top: 50%;
    bottom: 50%;
    width: 100%;
}

.logo {
    z-index: 1;
    display: inline-block;
    margin: auto;
}

/*Begin next view here*/