<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head(title=${'Oops!'})">
    ...
</head>
<body>
<div class="container">
    <th:block th:switch="${error}">
        <div th:case="'Not Found'">
            <h1>Page not found!!</h1>
        </div>
        <div th:case="'Forbidden'">
            <h1>Bummer...</h1>
        </div>
    </th:block>
    <p>The page you have tried to reach has moved or does not exist.</p>
    <img src="../../img/400-sad-food.jpg" height="350" width="596"/>
</div>
</body>
</html>